<header class="navbar">
    <h2 class="navbar-title">Dashboard</h2>
    <div class="user-menu">
        <form id="logoutForm" action="/logout-user" method="POST">
            <button type="submit" class="btn-logout">
                <i class="ri-logout-box-line"></i>
                <span>Logout</span>
            </button>
        </form>
    </div>
</header> 